*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}


section {
  padding: 2rem 0;
}

/* #endregion Common */

/* #region Utilities */

.d-flex {
  display: flex;
}

.container-sm
{
  max-width: 800px;
  width: 55%;
  margin: auto;
}
.justify-content-between {
  justify-content: space-between;
}

header h1 {
    font-size: 3.5rem;
}

.button-br {
    padding: 0.5rem 1rem;
    border-radius:20px; 
}
footer .button-br {
    background-color: rgb(102, 0, 255) ;
}

.button-left, .button-right {
    font-size: 1rem;
}
.button-bottom {
    background-color: rgb(102, 0, 255);
    margin-top: 2rem;
    color: white;
} 

.color-it {
    color: white;
}

i {
    padding-right: 0.5rem; 
}

/* Flex Grid */
.container
{
  max-width: 1170px;
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  height: 400px;
}

.col-3{
  width: calc(100% / 12 * 3);
}
.col-4{
  width: calc(100% / 12 * 4);
  padding-top: 2rem;
  font-size: 1.2rem;
}
.col-8 {
  width: calc(100% / 12 * 8);
}

h2 {
    padding-bottom: 1rem;
}

/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

section{
    padding-top: 5rem;
    padding-bottom: 15rem;
}

.bg_section {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: -0.25rem;
    margin-bottom: -0.1.5rem;
}
.wave-top, .wave-midle, .wave-bottom {
    opacity: calc(0.1);
}
.wave-bottom {
    margin-bottom: -0.00015rem;
}
/* Colors */

.h-50 {
    text-align: center;
    font-size: 1.2rem;
}

footer h3 {
    color: rgb(102, 0, 255) ;
}

footer .col-3{
    color: white;
    padding-top: 2rem;
}

li {
    list-style: none;
}

.color-tl {
    color: rgb(102, 0, 255)  ;
}
hr {
    border-color: rgb(67, 54, 88)  ;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.wave-midle {
   transform: rotate(-180deg);
}

/* #endregion Utility */

/* #region Header */
.logo, .login {
  width: 30%;
}
.menu {
  width: 60%;
  text-align: center;
}
.login {
 text-align: end;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container-sm > h1, p {
    text-align: center;
    color: white;
    padding: 1rem;
}

.container-sm > div {
  text-align: center;
  padding-top: 1.5rem;
  
}

.container-sm .button-right {
    background-color: black;
    color: white;
}

/* #endregion Header */

/* #region Main */

.jumbotron {
  height: 450px; 
  padding: 5rem 0;
}

/* #endregion Main */


/* #region Footer */
footer {
  background-color: rgb(6, 6, 43);
}

footer > .top, footer > .bottom {
  padding: 1rem 0;
}

/* #endregion Footer */